<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/Authentication/tests/Unit" />
        <option value="$PROJECT_DIR$/Authentication/tests/Feature" />
        <option value="$PROJECT_DIR$/Authentication/Custom/tests/Unit" />
        <option value="$PROJECT_DIR$/Authentication/Custom/tests/Feature" />
        <option value="$PROJECT_DIR$/Authentication/Breeze/tests/Unit" />
        <option value="$PROJECT_DIR$/Authentication/Breeze/tests/Feature" />
        <option value="$PROJECT_DIR$/Authentication/Passport/tests/Unit" />
        <option value="$PROJECT_DIR$/Authentication/Passport/tests/Feature" />
        <option value="$PROJECT_DIR$/Email/tests/Unit" />
        <option value="$PROJECT_DIR$/Email/tests/Feature" />
        <option value="$PROJECT_DIR$/Frontend-Backend-Connection/tests/Unit" />
        <option value="$PROJECT_DIR$/Frontend-Backend-Connection/tests/Feature" />
        <option value="$PROJECT_DIR$/DB-Connections/tests/Unit" />
        <option value="$PROJECT_DIR$/DB-Connections/tests/Feature" />
      </list>
    </option>
  </component>
</project>